:root {
    --h1-size: 60px;
    --h2-size: 30px;
    --h3-size: 20px;
    --p-size: 18px;
    --text-size: 18px;
    --hero-h1-size: 75px;
    --home-text-size: 27px;
    
  
    --font-text: TextFont;
    --font-title: TitleFont;
    --font-home: HomeFont;
}
@media (max-width: 1366px) {
    :root {
      --hero-img-margin-left: 66.5%;
      --home-text-size: 23px;
      --p-size: 17px;
      --text-size: 17px;
    }
}
@media (orientation: portrait), (max-width: 1080px)  {
    :root {
        --p-size: 4.25vw;
        --h1-size: 11.5vw;
        --h2-size: 7.5vw;
        --h3-size: 6vw;
        --p-size: 16px;
        --text-size: 16px;
        --hero-h1-size: max(7.5vw, 38px);
        --home-text-size: max(5vw, 17px);
    }
}

@font-face {
    font-family: TextFont;
    src: local('Georgia');
}
@font-face {
    font-family: TitleFont;
    src: local('Georgia');
}
@font-face {
    font-family: HomeFont;
    src: local('Georgia');
}
@font-face {
    font-family: HomeFontBold;
    src: local('Georgia');
}