:root {
    --title-font-transform: scale(0.8, 1);
    
    --theme-color-1-lightest: rgb(233, 220, 255);
    --theme-color-1-lighter: rgb(172, 158, 209);
    --theme-color-1-light: rgb(182, 156, 255);
    --theme-color-1: rgb(150, 112, 255);
    --theme-color-1-dark: rgb(120, 80, 225);
    --theme-color-1-dark: rgb(100, 60, 185);
    --theme-color-1-darkest: rgb(79, 40, 133);

    --green-text: rgb(0, 180, 0);

    --passive-dark-color: rgb(79, 23, 124);
  
    --light-medium-color: rgb(153, 52, 52);
    --medium-color: rgb(57, 13, 158); 
    --dark-color: rgb(40, 8, 117);
    --darker-color: rgb(42, 18, 80);
  
    --dark-blue: rgb(22, 22, 98);
    --darker-blue: rgb(22, 22, 58);
    --dark-green: rgb(23, 80, 0);
  
    --gray-color: rgb(31, 31, 31);
    --blue-color: rgb(0, 86, 216);
    --purple-color: rgb(212, 0, 255);
    --light-blue-color: rgb(129, 179, 255);
  
    --button-color: rgb(117, 10, 10); 
  
    --simple-page-color: rgb(255, 255, 255);

    --orange-color: #ffa500;
    --light-orange-color: #ffc559;

    --dark-gray-color: rgba(12, 15, 17, 1);
}
